<h1>Comment on: <a class='fs-link' href="/#/_/posts/<%=@comment.post.id%>"><%= @comment.post.title %></a></h1>
<p><%= @comment.post.body %></p>
<h3>Comment:</h3>
  <p> <%= @comment.body %> </p>
</ul>
