<h1>Comments</h1>

<% @comments.each do |comment| %>
  <p><%= comment.post.title %></p>
  <a class='fs-link' href="/#/posts/<%=comment.post_id%>/comments/<%=comment.id%>"><h3><%= comment.body %></h3></a>
  <br>
<% end %>

