<ul>
  <li><a class='fs-link' href="#posts">posts</a></li>
  <li><a class='fs-link' href="#tags">tags</a></li>
  <li><a class='fs-link' href="#comments">comments</a></li>
</ul>

<div id='#flying-switch'>
</div>