<ul>
  <li><a class='fs-link' href="#/_/posts">posts</a></li>
  <li><a class='fs-link' href="#/_/tags">tags</a></li>
  <li><a class='fs-link' href="#/_/comments">comments</a></li>
</ul>

<div id='flying-switch'>
</div>